@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aller-Regular";
  src: local("Aller-Regular"), url(../Aller_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Aller-Bold";
  src: local("Aller-Bold"), url(../Aller_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url(../Montserrat-Bold.otf) format("opentype");
}

body {
  background-color: #0e0e0e;
  color: #fff;
}

/* wrapper */
.wrapper {
  @apply px-6;
  @apply py-10;
}

/* Navbar */
.current {
  @apply border-b-2;
  @apply border-primary;
}

/* Showcase */
.showcase {
  @apply relative;
  @apply font-primary;
  @apply text-white;
}

.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(32, 32, 32, 0.6) 0%,
    #0e0e0e 100%
  );
}

.showcase .showcase-container {
  @apply flex;
  @apply px-6;
  @apply justify-center;
  @apply items-center;
  @apply relative;
  @apply h-screen;
}

.showcase .showcase-title {
  @apply text-2xl;
  @apply text-center;
}

.showcase .showcase-content {
  @apply z-10;
}

.showcase .showcase-text {
  @apply leading-loose;
  @apply hidden;
  @apply text-sm;
}

.showcase .showcase-left-line {
  @apply hidden;
  @apply bg-white;
  @apply w-3;
  @apply border;
  @apply border-white;
  @apply mr-10;
}

/* Btn */
.btn {
  @apply bg-primary;
  @apply py-3;
  @apply px-5;
  @apply rounded;
  @apply transition;
  @apply ease-in;
  @apply duration-500;
}

.btn-primary {
  @apply bg-primary;
  @apply text-white;
  @apply px-6;
  @apply py-3;
  @apply w-32;
  @apply rounded;
  @apply transition;
  @apply duration-500;
}

.btn-primary-sm {
  @apply bg-primary;
  @apply text-white;
  @apply px-4;
  @apply py-2;
  @apply w-20;
  @apply text-xs;
  @apply rounded;
  @apply transition;
  @apply duration-500;
}

/* Card */
.card {
  @apply bg-dark;
  @apply rounded;
}

.card-text {
  font-size: 13px;
}

/* Pagination */
.pagination {
  display: flex;
}

.pagination li {
  @apply border-white;
  @apply border;
  @apply rounded;
  @apply py-2;
  @apply px-4;
  @apply cursor-pointer;
  @apply transition;
  @apply ease-in;
  @apply duration-200;
}

.pagination li.active {
  @apply bg-primary;
  @apply border-0;
  @apply text-white;
}

.pagination li a {
  text-align: center;
  margin: 20px auto;
}

/* Screen Medium */
@screen md {
  /* Wrapper */
  .wrapper {
    @apply px-24;
  }

  /* Showcase */
  .showcase .showcase-container {
    @apply grid grid-cols-2 px-32;
  }

  .showcase .showcase-title {
    @apply text-3xl mb-4 text-left;
  }

  .showcase .showcase-content {
    @apply mt-8;
  }

  .showcase .showcase-text {
    @apply block;
  }

  .showcase .showcase-left-line {
    @apply block h-12;
  }
}

/* Screen Large */
@screen lg {
  .showcase .showcase-text {
    @apply block;
  }
}

/* Screen Extra Large */
@screen xl {
  /* Showcase */
  .showcase .showcase-title {
    @apply text-6xl;
  }

  .showcase .showcase-text {
    @apply block text-base;
  }

  .showcase .showcase-left-line {
    @apply h-24;
  }
}

@import "./_utils.css";
@import "./_navs.css";
@import "./_home.css";
@import "./_burger.css";
@import "./_reactslick.css";
@import "./_mobile.css";
